# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

.idea/
.web/.xmind
.output/train_2023-*.log

# .sh/.bat
*.sh
*.bat

# unused files
candlestick_techniques.py
stock_data_processing.py
strategy_1.py
test.py
requirements_pipreqs.txt